@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
    background-image: url("/space.jpg");
    display: flex;
    min-height: 100vh;
    background-size: cover;
    font-family: "Poppins, sans-serif";
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    font-family: "poppins, sans-serif";
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.navControls {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 0;
    align-items: center;
}

.butonNav:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rebeccapurple;
}

.buttonSearch,
.buttonReset,
.buttonNav {
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    color: white;
    background-color: #0c5fb8;
}

.searchContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.searchInput {
    flex: 1;
    padding: 8px;
    width: 50%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.searchButton,
.resetButton {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.searchButton {
    background-color: #4caf50;
    color: white;
}

.searchButton:hover {
    background-color: #45a049;
}

.resetButton {
    background-color: #f44336;
    color: white;
}

.resetButton:hover {
    background-color: #d32f2f;
}

.buttonNav:hover {
    background-color: #0c5fb8;
}

.buttonNav:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.6;
}

.pageCounter {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.loaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.loader {
    width: 50vw;
    height: auto;
}

.loader {
    width: 500px;
    height: auto;
}
