@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.card {
    width: 275px;
    height: 275px;
    background-color: rgba(74, 214, 104, 0.507);
    border: rgb(255, 255, 255) 2px solid;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s;
    color: white;
    font-size: 14.1px;
    font-family: 'Poppins', sans-serif;
}

.card:hover {
    transform: scale(1.1);
}

.avatar {
    width: 125px;
    border-radius: 50%;
}

.title {
    margin: 10px 0 5px;
    font-size: 20px;
}